/**
 * Main menu icons.
 */
.toolbar-icon-system-admin-chat-channel:before {
    background-image: url(../images/icons/787878/toolbar.svg);
}
.toolbar-icon-system-admin-chat-channel:active:before,
.toolbar-icon-system-admin-chat-channel:hover:before,
.toolbar-icon-system-admin-chat-channel.is-active:before {
    background-image: url(../images/icons/000000/toolbar.svg);
}

/* Adminimal support */
.adminimal-admin-toolbar .toolbar-tray-horizontal .menu-item--expanded:hover .toolbar-icon-system-admin-chat-channel::before,
.adminimal-admin-toolbar .toolbar-icon-system-admin-chat-channel:hover::before {
    background-image: url(../images/icons/FFFFFF/toolbar.svg);
}