{#
/**
 * @file chat_channel_message.html.twig
 * Default theme implementation to present Chat channel message data.
 *
 * This template is used when viewing Chat channel message pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_chat_channel_message()
 *
 * @ingroup themeable
 */
#}
<div {{ attributes.addClass('js-chatChannelMessage').setAttribute('data-channel-message-id', id) }}>
  {{ content }}
</div>
